@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-3 w3_footer_grid">
    <h3>information</h3>
    <ul class="w3_footer_grid_list">     
        <li><a href="about.html">About Us</a></li>
        <li><a href="products.html">Deals</a></li>
        <li><a href="services.html">Services</a></li>
 
    </ul>
</div>
<div class="col-md-3 w3_footer_grid">
    <h3>policy info</h3>
    <ul class="w3_footer_grid_list">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">privacy policy</a></li>
        <li><a href="#">terms of use</a></li>
    </ul>
</div>
<div class="col-md-3 w3_footer_grid">
    <h3>what in stores</h3>
    <ul class="w3_footer_grid_list">
       <!--
       Category list    
       -->
    </ul>
</div>
<div class="col-md-3 w3_footer_grid">
   <!--
   Social media feed    
   -->
</div>